:root{
    --padding: 8%;
}
body{
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family: system-ui;

}
a{
    text-decoration: none;
    color: #fff;
}
header{
    position: fixed;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background: #fff;
    color :#200016;
}

.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #200016,transparent);
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon {
    mix-blend-mode: screen;
    transform: translateY(80px);
}
.ziad{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
   transform: translateY(-140px);
}
.content{
    color: #fff;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin: 20px; 
}

#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: #fff;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
#menu.is-active span:nth-child(1) {
   transform: translate(0px,-2px) rotate(45deg);
}
#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}
#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}
#menu.is-active span{
    background-color: linear-gradient(#200016,#10001f);
}



@media screen and ( max-width: 575px){
    :root {
        --padding: 1.5rem;
    }
    header{
        position: fixed;
        top: 0;
        left: 1px;
        right: 0;
        height: 82px;
        padding-top: 0;
        border-bottom: 1px solid #0e0e0e;
        z-index: 100;
    }
    header ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(#200016,#10001f);
        }
        header ul.is-active{
        display: block;
}
header ul li {
    display: block;
    text-align: center;
    margin: 75px;
    margin-top: 90px;
    margin-right: 9rem;
}
#menu {
    display: block;
    margin-right: 2rem;
}
}